@import "h5bp.css";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body{
    background: #dadada;
}

#main{
    font-family: 'Noto Sans';
}
#main .actions{
    width: 160px;
    margin: 40px 50px 0;
    float: left;
    text-align: center;
}
#main .actions a{
    display: inline-block;
    background: #3498db;
    color: white;
    width: 160px;
    text-decoration: none;
    text-align: center;
    padding: 8px 0;
    margin: 0 0 20px;
    border-radius: 6px;
}
#main .actions .dark{
    background: #b4b4b4;
}
#main .players{
    width: 300px;
    float: left;
}
#main .players .stats{
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0;
}
#main .players ul{
    padding: 0;
    margin: 30px 0 10px;
    list-style: none;
}
#main .players li{
    padding: 10px 0;
    font-size: 22px;
    color: #666;
    text-align: left;
}
#main .players li.assigned{
    opacity: 0.5;
    text-decoration: line-through;
}
#main .players li .handicap{
    color: #aaa;
    font-size: 18px;
}
#main .teetimes{
    padding: 40px 0 0 560px;
}
#main .teetimes .tee{
    background: #d1d1d1;
    width: 300px;
    margin: 0 15px 15px 0;
    float: left;
}
#main .teetimes h2{
    text-align: center;
    color: #666;
}
#main .teetimes ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
}
#main .teetimes ul li{
    font-size: 20px;
    line-height: 26px;
    padding: 10px 0;
    text-align: center;
    background: #3498db;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translateX(-300px);
    -webkit-animation: 
        openSpace 0.2s ease forwards,
        moveIn 0.3s 0.2s ease forwards,
        changeColor 1.5s ease forwards;
}
@-webkit-keyframes openSpace {
  to { 
    max-height: 50px;
  }
}
@-webkit-keyframes moveIn {
  to { 
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-webkit-keyframes changeColor {
  to { 
    color: #777;
    background: 0 none;
  }
}